* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("assets/bg-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  border-radius: calc(16rem / 16);
}
